# **Set Up**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **Import Data**

In [2]:
df = pd.read_csv('insurance.csv')
print(df.shape)
df.head()

(1338, 7)

    age     sex     bmi  children smoker     region      charges
0  19.0  female  27.900         0    yes  southwest  16884.92400
1  18.0    male  33.770         1     no  southeast   1725.55230
2  28.0    male  33.000         3     no  southeast   4449.46200
3  33.0    male  22.705         0     no  northwest  21984.47061
4  32.0    male  28.880         0     no  northwest   3866.85520

In [10]:
df.isna().sum()

age         4
sex         0
bmi         2
children    0
smoker      0
region      0
charges     0
dtype: int64

# **Data Exploration**

In [3]:
df.value_counts('sex')

sex
male      676
female    662
dtype: int64

In [4]:
df.value_counts('smoker')

smoker
no     1064
yes     274
dtype: int64

In [5]:
df.value_counts('region')

region
southeast    364
northwest    325
southwest    325
northeast    324
dtype: int64

In [17]:
df.groupby('sex')['bmi','age'].mean()

/var/folders/c0/06v83ym56nl05bjhdwr6hz9m0000gp/T/ipykernel_714/2016767439.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('sex')['bmi','age'].mean()

              bmi        age
sex
female  30.377716  39.504545
male    30.944081  38.913947

# **Data Pre Processing**

In [ ]:
# Encode Gender

df['sex_Enc'] = df['sex'].apply(lambda x: 0 if x=='female' else 1)

# **Model Implementation**