# **Setup**

In [8]:
!python --version

from psutil import *
print(f'CPU Cores: {cpu_count()}')
print(f'System Memory: {virtual_memory()[0]/(1024**3)} GB')

Python 3.11.6
CPU Cores: 16
System Memory: 15.692092895507812 GB

In [9]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import os 
from zipfile import ZipFile
from IPython.display import clear_output

# **Data Import**

## **Download & Extract**

In [2]:
!kaggle datasets download -d edumagalhaes/quality-prediction-in-a-mining-process

Downloading quality-prediction-in-a-mining-process.zip to c:\Users\aksha\OneDrive\06 Data Science & Analytics\Github\Machine-Learning\12 Mineral Processing Quality Prediction

  0%|          | 0.00/50.9M [00:00<?, ?B/s]
  2%|▏         | 1.00M/50.9M [00:00<00:24, 2.10MB/s]
  6%|▌         | 3.00M/50.9M [00:00<00:08, 6.04MB/s]
 10%|▉         | 5.00M/50.9M [00:00<00:06, 7.95MB/s]
 14%|█▎        | 7.00M/50.9M [00:00<00:04, 10.7MB/s]
 18%|█▊        | 9.00M/50.9M [00:01<00:04, 10.7MB/s]
 22%|██▏       | 11.0M/50.9M [00:01<00:03, 12.0MB/s]
 26%|██▌       | 13.0M/50.9M [00:01<00:03, 12.3MB/s]
 29%|██▉       | 15.0M/50.9M [00:01<00:03, 12.4MB/s]
 33%|███▎      | 17.0M/50.9M [00:01<00:03, 11.0MB/s]
 37%|███▋      | 19.0M/50.9M [00:01<00:02, 12.9MB/s]
 41%|████      | 21.0M/50.9M [00:02<00:02, 13.0MB/s]
 45%|████▌     | 23.0M/50.9M [00:02<00:02, 12.7MB/s]
 49%|████▉     | 25.0M/50.9M [00:02<00:02, 12.8MB/s]
 53%|█████▎    | 27.0M/50.9M [00:02<00:01, 13.0MB/s]
 57%|█████▋    | 29.0M/50.9M [00:02<00:01, 13.0MB/s]
 61%|██████    | 31.0M/50.9M [00:02<00:01, 12.5MB/s]
 65%|██████▍   | 33.0M/50.9M [00:03<00:01, 12.5MB/s]
 69%|██████▊   | 35.0M/50.9M [00:03<00:01, 12.1MB/s]
 73%|███████▎  | 37.0M/50.9M [00:03<00:01, 12.7MB/s]
 77%|███████▋  | 39.0M/50.9M [00:03<00:00, 13.0MB/s]
 81%|████████  | 41.0M/50.9M [00:03<00:00, 13.0MB/s]
 84%|████████▍ | 43.0M/50.9M [00:03<00:00, 12.9MB/s]
 88%|████████▊ | 45.0M/50.9M [00:04<00:00, 12.8MB/s]
 92%|█████████▏| 47.0M/50.9M [00:04<00:00, 12.6MB/s]
 96%|█████████▌| 49.0M/50.9M [00:04<00:00, 12.6MB/s]
100%|██████████| 50.9M/50.9M [00:04<00:00, 12.3MB/s]
100%|██████████| 50.9M/50.9M [00:04<00:00, 11.7MB/s]

In [10]:
with ZipFile('quality-prediction-in-a-mining-process.zip','r') as zip_ref:
    # Get list of file names in zip
    list_of_files = zip_ref.namelist()
    print('No. Of Files In Zip File: ',len(list_of_files),'\n')
    print(list_of_files)

No. Of Files In Zip File:  1

['MiningProcess_Flotation_Plant_Database.csv']

In [12]:
# Extract Zip File Contents In Main Directory
with ZipFile('quality-prediction-in-a-mining-process.zip','r') as zip_ref:
    # Get list of file names in zip
    list_of_files = zip_ref.namelist()

    for file in list_of_files:
        file_content = zip_ref.read(file)
        with open(os.path.basename(file), "wb") as f:
                f.write(file_content)

os.remove('quality-prediction-in-a-mining-process.zip')

## **Load Data**

In [16]:
df = pd.read_csv('MiningProcess_Flotation_Plant_Database.csv')
os.remove('MiningProcess_Flotation_Plant_Database.csv')

print(df.shape)
print(df.columns)
df.head()

(737453, 24)
Index(['date', '% Iron Feed', '% Silica Feed', 'Starch Flow', 'Amina Flow',
       'Ore Pulp Flow', 'Ore Pulp pH', 'Ore Pulp Density',
       'Flotation Column 01 Air Flow', 'Flotation Column 02 Air Flow',
       'Flotation Column 03 Air Flow', 'Flotation Column 04 Air Flow',
       'Flotation Column 05 Air Flow', 'Flotation Column 06 Air Flow',
       'Flotation Column 07 Air Flow', 'Flotation Column 01 Level',
       'Flotation Column 02 Level', 'Flotation Column 03 Level',
       'Flotation Column 04 Level', 'Flotation Column 05 Level',
       'Flotation Column 06 Level', 'Flotation Column 07 Level',
       '% Iron Concentrate', '% Silica Concentrate'],
      dtype='object')

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,"55,2","16,98","3019,53","557,434","395,713","10,0664","1,74","249,214","253,235",...,"250,884","457,396","432,962","424,954","443,558","502,255","446,37","523,344","66,91","1,31"
1,2017-03-10 01:00:00,"55,2","16,98","3024,41","563,965","397,383","10,0672","1,74","249,719","250,532",...,"248,994","451,891","429,56","432,939","448,086","496,363","445,922","498,075","66,91","1,31"
2,2017-03-10 01:00:00,"55,2","16,98","3043,46","568,054","399,668","10,068","1,74","249,741","247,874",...,"248,071","451,24","468,927","434,61","449,688","484,411","447,826","458,567","66,91","1,31"
3,2017-03-10 01:00:00,"55,2","16,98","3047,36","568,665","397,939","10,0689","1,74","249,917","254,487",...,"251,147","452,441","458,165","442,865","446,21","471,411","437,69","427,669","66,91","1,31"
4,2017-03-10 01:00:00,"55,2","16,98","3033,69","558,167","400,254","10,0697","1,74","250,203","252,136",...,"248,928","452,441","452,9","450,523","453,67","462,598","443,682","425,679","66,91","1,31"