# **Setup**

In [43]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import re

# **Data Import**

In [44]:
df = pd.read_excel('Data_Train.xlsx')

print(df.shape)
print(df.columns)

df.head()

(10683, 11)
Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [45]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [46]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [47]:
print('Data Size Before: ',df.shape)

# Drop Missing Values
df.dropna(inplace=True)

print('Data Size After: ',df.shape)

Data Size Before:  (10683, 11)
Data Size After:  (10682, 11)

# **Data Pre-Processing**

## **Extract Departure Hour & Min**

In [48]:
df['Dep_Time'].head()

0    22:20
1    05:50
2    09:25
3    18:05
4    16:50
Name: Dep_Time, dtype: object

In [49]:
print('Data Size Before: ',df.shape)

# Extract Hours & Min From Departure Time
df[['Dep_Hour','Dep_Min']] = df['Dep_Time'].str.split(':', expand=True)
df.drop('Dep_Time',axis=1,inplace=True)

print('Data Size After ',df.shape)
print(df.columns)
df.head(5)

Data Size Before:  (10682, 11)
Data Size After  (10682, 12)
Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Arrival_Time', 'Duration', 'Total_Stops', 'Additional_Info', 'Price',
       'Dep_Hour', 'Dep_Min'],
      dtype='object')

,Airline,Date_of_Journey,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Dep_Hour,Dep_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,05,50
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,09,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,18,05
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,16,50

## **Extract Arrival Hour & Min**

In [50]:
df['Arrival_Time'].head(5)

0    01:10 22 Mar
1           13:15
2    04:25 10 Jun
3           23:30
4           21:35
Name: Arrival_Time, dtype: object

In [51]:
print('Data Size Before: ', df.shape)

df['Arr_Hour'] = pd.to_datetime(df['Arrival_Time'],format='mixed').dt.hour
df['Arr_Min'] = pd.to_datetime(df['Arrival_Time'],format='mixed').dt.minute
df.drop('Arrival_Time',axis=1,inplace=True)

print('Data Size After: ', df.shape)
print(df.columns)
df.head()

Data Size Before:  (10682, 12)
Data Size After:  (10682, 13)
Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Dep_Hour',
       'Dep_Min', 'Arr_Hour', 'Arr_Min'],
      dtype='object')

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Dep_Hour,Dep_Min,Arr_Hour,Arr_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,22,20,1,10
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,05,50,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,09,25,4,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,18,05,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,16,50,21,35

## **Flight Duration**

In [52]:
df['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10682, dtype: object

In [53]:
print('Data Size Before: ',df.shape)

df['Duration_Hour'] = df['Duration'].apply(lambda x: int(re.findall(r'(\d+)h',str(x))[0]) if 'h' in str(x) else 0)
df['Duration_Min'] = df['Duration'].apply(lambda x: int(re.findall(r'(\d+)m',str(x))[0]) if 'm' in str(x) else 0)
df.drop('Duration',axis=1,inplace=True)

print('Data Size After: ',df.shape)
print(df.columns)
df.head()

Data Size Before:  (10682, 13)
Data Size After:  (10682, 14)
Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Total_Stops', 'Additional_Info', 'Price', 'Dep_Hour', 'Dep_Min',
       'Arr_Hour', 'Arr_Min', 'Duration_Hour', 'Duration_Min'],
      dtype='object')

,Airline,Date_of_Journey,Source,Destination,Route,Total_Stops,Additional_Info,Price,Dep_Hour,Dep_Min,Arr_Hour,Arr_Min,Duration_Hour,Duration_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,22,20,1,10,2,50
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,05,50,13,15,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,09,25,4,25,19,0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,18,05,23,30,5,25
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,16,50,21,35,4,45

## **Encode Airline Names**

In [55]:
df['Airline'].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [59]:
df_Airlines = pd.get_dummies(df['Airline'],drop_first=False)
df_Airlines.head()

,Air Asia,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Trujet,Vistara,Vistara Premium economy
0,False,False,False,True,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False

## **Encoding Source Names**

In [61]:
df['Source'].value_counts()

Source
Delhi       4536
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: count, dtype: int64

In [60]:
df_Source = pd.get_dummies(df['Source'], drop_first=False)
df_Source.head()

   Banglore  Chennai  Delhi  Kolkata  Mumbai
0      True    False  False    False   False
1     False    False  False     True   False
2     False    False   True    False   False
3     False    False  False     True   False
4      True    False  False    False   False

## **Encoding Destination Names**